/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(238, 228, 244);
}
.wrapper {
	/* background-color: rgb(99, 83, 83); */
	min-height: calc(100vh - 55.6px - 40px);
}
.about-img {
	width: 300px;
	height: 300px;
}
